html {
  .bg-success {
    color: white !important;
  }

  .bg-primary {
    color: $white !important;
  }

  .bg-secondary {
    color: $white !important;
  }

  .bg-warning {
    color: $white !important;
  }
}
.border,
.v-divider {
  border-color: rgba(var(--v-border-color), 1) !important;
}

.max-h-100vh {
  max-height: 100vh !important;
}

.max-w-100vw {
  max-width: 100vw !important;
}

.max-h-100 {
  max-height: 100% !important;
}

.max-w-100 {
  max-width: 100% !important;
}

.scroll-behavior {
  scroll-behavior: smooth !important;
}

/* Global scrollbar styles */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
